.CartBlock {
    display:flex;
    align-items: center;
    position:relative;
}

.cart-block-total-price {
    margin-left: 15px;
    font-size: 18px;
    font-weight: bold ;
}

.cart-block-icon {
    cursor: pointer;
    position: relative;
}